[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/balajimb2016
[access "refs/for/refs/*"]
	read = group user/balajimb2016
	push = group user/balajimb2016
	label-Code-Review = -2..+2 group user/balajimb2016
	label-Verified = -1..+1 group user/balajimb2016
	rebase = group user/balajimb2016
	removeReviewer = group user/balajimb2016
	submit = group user/balajimb2016
[access "refs/heads/*"]
	read = group user/balajimb2016
	create = group user/balajimb2016
	push = +force group user/balajimb2016
	pushMerge = group user/balajimb2016
[access "refs/tags/*"]
	push = +force group user/balajimb2016
	pushTag = group user/balajimb2016
	pushSignedTag = group user/balajimb2016
